* {
  margin: 0px;
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.App-header {
  display: flex;
  justify-content: space-around;
  /* margin: 50px; */
  background-image: linear-gradient(rgba(54, 172, 107, 0.6), yellow);
  height: 100px;
  border: 1px;
  position: relative;
  /* fo-align: center; */
  padding-top: 25px;
}
.logo img {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  opacity: 0.9;
  /* margin-top: 5px; */
}
